@import "src/style/responsive";

.button {
  width: 175px;
  height: 75px;

  cursor: pointer;

  font-family: "Minecraft Rus", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  color: #ffffff;

  @include adaptive-md {
    width: 159px;
    height: 60px;

    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }

  @include adaptive-sm {
    width: 140px;
    height: 45px;

    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }

  @include adaptive-xs {
    width: 120px;
    height: 35px;

    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
  }

  &--align {
    &-left .button__inner {
      justify-content: flex-start;
    }

    &-center .button__inner {
      justify-content: center;
    }

    &-right .button__inner {
      justify-content: right;
    }
  }

  &--disabled {
    cursor: default;
    pointer-events: none;

    opacity: .8;
  }
}