@import "@/style/_responsive.scss";

.footer {
  width: 100%;
  height: 100px;

  border-top: 2px solid var(--border-blue-250, rgba(36, 75, 139, 0.50));

  backdrop-filter: blur(12.5px);

  color: var(--color-white-100, #FFF);
  background: rgba(255, 255, 255, 0.01);

  @include adaptive-md {
    height: 85px;
  }

  @include adaptive-sm {
    height: auto;

    padding: 20px 0 24px 0;
  }

  @include adaptive-xs {
    padding: 16px;
  }

  &__container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include adaptive-sm {
      flex-direction: column-reverse;
      gap: 16px;
    }

    @include adaptive-xs {
      gap: 12px;
    }
  }

  &__privacy {
    position: absolute;
    left: 50%;

    display: flex;
    align-items: center;
    gap: 50px;

    transform: translate(-50%);

    @include adaptive-md {
      gap: 40px;
    }

    @include adaptive-sm {
      position: static;

      transform: unset;

      flex-direction: column-reverse;
      gap: 16px;
    }

    @include adaptive-xs {
      gap: 12px;
    }
  }

  &__link {
    font-family: "Minecraft Rus", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;

    text-decoration: none;

    text-align: center;
    transition: opacity .3s ease;

    color: var(--color-white-100, #FFF);

    @include adaptive-md {
      font-size: 16px;
    }

    @include adaptive-sm {
      font-size: 14px;
    }

    @include adaptive-xs {
      font-size: 10px;
    }

    &:hover {
      opacity: .7;
    }
  }
}
