.button {
  cursor: pointer;
  
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Minecraft Rus', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #fff;
  }
}