@import "src/style/adaptive";

$offset: 5px;

@include adaptive-md {
  $offset: 4px;
}

@include adaptive-xs {
  $offset: 3px;
}

@mixin generateLines($name, $top, $bottom, $sides, $front) {
  .lineWrapperAccentColor_#{$name} {
    .lineWrapper__content {
      background: $front;
    }

    .lineWrapper__line {
      &Top {
        background: $top;
      }

      &Side {
        background: $sides;
      }

      &Bottom {
        background: $bottom;
      }
    }
  }

  .lineWrapperHoverColor_#{$name} {
    &:hover {
      .lineWrapper__content {
        background: $front;
      }

      .lineWrapper__line {
        &Top {
          background: $top;
        }

        &Side {
          background: $sides;
        }

        &Bottom {
          background: $bottom;
        }
      }
    }

    &:active {
      .lineWrapper__line {
        &Top {
          background: $bottom;
        }

        &Bottom {
          background: $top;
        }
      }
    }
  }
}

.lineWrapper {
  width: fit-content;

  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;

    transition: background .3s ease;

    color: var(--color-white-100, #FFF);
  }

  &__line {
    &Top {
      width: calc(100% - $offset * 2);
      height: $offset;

      margin: 0 $offset;

      transition: background .3s ease;
    }

    &Side {
      width: $offset;

      transition: background .3s ease;
    }

    &Middle {
      width: 100%;
      height: 100%;

      display: flex;
    }

    &Bottom {
      width: calc(100% - $offset * 2);
      height: $offset;

      margin: 0 $offset;

      transition: background .3s ease;
    }
  }

  &Disabled {
    cursor: default;
    pointer-events: none;

    opacity: .8;
  }
}

// generateLines($name, $top, $bottom, $sides, $front)
@include generateLines('green', #12CC6F, #005228, #206643, #009D4B);
@include generateLines('gray', #505050, #2E2E2E, #2E2E2E, #3A3A3A);
@include generateLines('yellow', #F2E03B, #B15E19, #FF9125, #F2B129);
@include generateLines('blue', #60D3F8, #0047B1, #205ED9, #5190FB);
@include generateLines('purple', #B12BC9, #4F0661, #741A8F, #A900A9);
@include generateLines('red', #E54646, #AB1A1A, #C11C1C, #E42727);
