.block {
  color: var(--color-white-100, #FFF);

  &Style {
    &_dark {
      border: 2px solid var(--border-blue-250, rgba(36, 75, 139, 0.50));
      background: var(--background-dakr-blue-75, rgba(2, 11, 25, 0.75));
    }

    &_light {
      border: 2px solid var(--border-blue-250, rgba(36, 75, 139, 0.50));
      background: var(--background-dark-blue-2100, #06162E);
    }
  }
}
