@import "src/style/responsive";

.header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  backdrop-filter: blur(12.5px);
  background: rgba(255, 255, 255, 0.01);

  &__container {
    height: 100%;

    display: flex;
    align-items: center;

    @include adaptive-sm {
      max-width: 100%;
    }
  }

  &__burgerIcon {
    width: 20px;
    height: 17px;

    margin-left: auto;

    position: relative;

    display: none;

    overflow: hidden;

    box-sizing: border-box;

    @include adaptive-sm {
      display: block;
    }

    &__line {
      width: 100%;
      height: 2px;

      position: absolute;

      transition: .3s ease;

      background: var(--color-white-100, #FFF);

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 7px;
        left: 0;
      }

      &:nth-child(4) {
        top: 14px;
        right: 0;
      }
    }

    &Active {
      .header__burgerIcon__line {
        &:nth-child(1) {
          left: -100%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          right: -100%;
        }
      }
    }
  }

  &__burgerMenu {
    position: fixed;

    display: none;

    transition: max-height .3s ease, padding .3s ease;

    overflow: hidden;
    visibility: hidden;

    @include adaptive-sm {
      display: block;
    }

    &Loaded {
      position: relative;

      visibility: visible;
    }
  }

  &__main {
    height: 100px;

    position: relative;

    &::before {
      width: 100%;
      height: 2px;

      position: absolute;
      left: 0;
      bottom: 0;

      content: "";

      background: var(--border-blue-250, rgba(36, 75, 139, 0.50));
    }

    @include adaptive-md {
      height: 85px;
    }

    @include adaptive-sm {
      height: 70px;
    }

    @include adaptive-xs {
      height: 50px;
    }
  }

  &__mainMobile {
    padding: 20px;

    position: relative;

    @include adaptive-xs {
      padding: 20px 16px;
    }

    &::before {
      width: 100%;
      height: 2px;

      position: absolute;
      left: 0;
      bottom: 0;

      content: "";

      background: var(--border-blue-250, rgba(36, 75, 139, 0.50));
    }
  }

  &__profile {
    height: 0;

    position: relative;

    overflow: hidden;

    transition: height .3s ease;

    @include adaptive-sm {
      display: none;
    }

    &::before {
      width: 100%;
      height: 2px;

      position: absolute;
      left: 0;
      bottom: 0;

      content: "";

      background: var(--border-blue-250, rgba(36, 75, 139, 0.50));
    }
  }

  &__profileMobile {
    padding: 20px;

    position: relative;

    @include adaptive-xs {
      padding: 20px 16px;
    }

    &::before {
      width: 100%;
      height: 2px;

      position: absolute;
      left: 0;
      bottom: 0;

      content: "";

      background: var(--border-blue-250, rgba(36, 75, 139, 0.50));
    }
  }

  &__logo {
    width: 139px;
    height: 32px;

    img {
      width: 100%;
      height: 100%;
    }

    @include adaptive-md {
      width: 129px;
      height: 30px;
    }

    @include adaptive-sm {
      width: 109px;
      height: 25px;
    }

    @include adaptive-xs {
      width: 79px;
      height: 18px;
    }
  }

  &__message {
    margin-left: 35px;

    @include adaptive-md {
      margin-left: 30px;
    }

    @include adaptive-sm {
      margin-left: 20px;
    }

    @include adaptive-xs {
      margin-left: 12px;
    }
  }

  &__menu {
    &__item {
      display: flex;
      align-items: center;
      gap: 14px;

      font-family: "Minecraft Rus", sans-serif;
      font-size: 16px;

      text-decoration: none;

      color: var(--color-white-100, #FFF);

      @include adaptive-md {
        font-size: 14px;

        gap: 12px;
      }

      @include adaptive-xs {
        font-size: 12px;
      }

      .menu__item {
        &__icon {
          width: 32px;
          height: 32px;

          @include adaptive-md {
            width: 28px;
            height: 28px;
          }

          @include adaptive-sm {
            width: 20px;
            height: 20px;
          }

          @include adaptive-xs {
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    &Catalog {
      position: absolute;
      left: 50%;

      display: flex;
      align-items: center;
      gap: 60px;

      transform: translate(-50%);

      @include adaptive-sm {
        display: none;
      }

      &Mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    &Profile {
      display: flex;
      align-items: center;
      gap: 60px;

      &Mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    &Actions {
      margin-left: auto;

      display: flex;
      align-items: center;
      gap: 45px;

      @include adaptive-sm {
        display: none;
      }
    }
  }

  &:hover {
    .header__profile {
      height: 80px;

      @include adaptive-md {
        height: 60px;
      }
    }
  }
}
