.input {
  &__before,
  &__after {
    height: 100%;

    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__wrapper {
    display: flex;
    align-items: center;

    background: #ffffff;
  }

  &__inner {
    width: calc(100% - 10px * 2);
    height: 100%;

    padding: 0 10px;

    font-family: 'Minecraft Rus', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    transition: .3s ease;

    border: none;
    outline: none;

    background: transparent;

    &::placeholder {
      color: #9D9D9D;
    }
  }

  &--align {
    &-left .input__inner {
      text-align: start;
    }

    &-center .input__inner {
      text-align: center;
    }

    &-right .input__inner {
      text-align: right;
    }
  }

  &--hasBefore {
    padding-left: 0;
  }

  &--hasAfter {
    padding-right: 0;
  }

  &--disabled {
    cursor: default;
    pointer-events: none;

    opacity: .8;
  }
}