.input {
  //margin: 0;
  //padding: 3px;

  &__inner {
    width: calc(100% -  3px * 2 - 10px * 2);
    height: calc(100% - 3px * 2);

    padding: 0 10px;

    font-family: 'Minecraft Rus', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    transition: .3s ease;

    border: none;
    outline: none;

    background: #ffffff;

    &::placeholder {
      color: #9D9D9D;
    }
  }

  &--align {
    &-left .input__inner {
      text-align: start;
    }

    &-center .input__inner {
      text-align: center;
    }

    &-right .input__inner {
      text-align: right;
    }
  }

  &--disabled {
    cursor: default;
    pointer-events: none;

    opacity: .8;
  }
}