.input {
  margin: 0;
  padding: 3px;

  &__inner {
    width: calc(100% - 10px * 2);
    height: calc(100%);

    padding: 0 10px;

    font-family: 'Minecraft Rus', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    transition: .3s ease;

    border: none;
    outline: none;

    &::placeholder {
      color: #9D9D9D;
    }
  }
}