@import "adaptive";

.input {
  height: 46px;

  position: relative;

  display: flex;
  align-items: center;

  transition: border .3s ease;

  background: var(--color-white-100, #FFF);

  @include adaptive-sm {
    height: 42px;
  }

  @include adaptive-xs {
    height: 36px;
  }

  &Style {
    &_default {
      border: 2px solid var(--input-default, #505050);
    }

    &_hover {
      border: 2px solid var(--input-hover, #8B8B8B);
    }

    &_focus {
      border: 2px solid var(--input-focus, #5492EF);
    }

    &_error {
      border: 2px solid var(--input-failed, #E54646);
    }

    &_success {
      border: 2px solid var(--input-success, #2BC95A);
    }
  }

  &Disabled {
    cursor: default;

    user-select: none;
    pointer-events: none;

    opacity: .8;
  }

  &__field {
    width: 100%;
    height: 100%;

    padding: 0 12px;

    position: absolute;
    top: 0;
    left: 0;

    font-family: "Minecraft Rus", sans-serif;
    @include adapt("font-size", 16px, 16px, 14px, 12px);
    font-weight: 400;
    line-height: 120%;

    &::placeholder {
      color: var(--input-placeholder, rgba(0, 0, 0, 0.40));
    }
  }

  &Padding {
    &_before {
      .input__field {
        padding-left: 46px;
      }
    }

    &_after {
      .input__field {
        padding-right: 46px;
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    @include adaptive-sm {
      width: 20px;
      height: 20px;
    }

    img {
      width: 20px;
      height: 20px;

      @include adaptive-sm {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__before {
    position: absolute;
    left: 10px;
  }

  &__after {
    position: absolute;
    right: 10px;
  }
}