@import "src/style/responsive";

.container {
  max-width: 1520px;

  margin: 0 auto;
  padding: 0 20px;

  @include adaptive-md {
    max-width: 1240px;
  }

  @include adaptive-sm {
    max-width: 708px;

    padding: 0 20px;
  }

  @include adaptive-xs {
    max-width: 100%;

    padding: 0 16px;
  }
}