@import "src/style/responsive";

.supportItem {
  display: flex;
  gap: 20px;

  @include adaptive-md {
    gap: 18px;
  }

  @include adaptive-sm {
    gap: 16px;
  }

  @include adaptive-xs {
    gap: 14px;
  }

  &__line {
    min-width: 5px;

    @include adaptive-md {
      min-width: 4px;
    }

    @include adaptive-xs {
      min-width: 3px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include adaptive-sm {
      gap: 10px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 20px;

    @include adaptive-md {
      gap: 18px;
    }

    @include adaptive-sm {
      gap: 16px;
    }

    @include adaptive-xs {
      gap: 14px;
    }
  }

  &__userInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__avatar {
    width: 50px;
    height: 50px;

    @include adaptive-md {
      width: 45px;
      height: 45px;
    }

    @include adaptive-sm {
      width: 40px;
      height: 40px;
    }

    @include adaptive-xs {
      width: 35px;
      height: 35px;
    }
  }

  &__nickname {
    font-family: "Minecraft Rus", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;

    color: var(--color-blue, #5190FB);

    @include adaptive-md {
      font-size: 16px;
    }

    @include adaptive-sm {
      font-size: 14px;
    }

    @include adaptive-xs {
      font-size: 12px;
    }
  }

  &__time {
    font-family: "Minecraft Rus", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    color: var(--color-white-60, rgba(255, 255, 255, 0.60));

    @include adaptive-md {
      font-size: 14px;
    }

    @include adaptive-sm {
      font-size: 12px;
    }

    @include adaptive-xs {
      font-size: 10px;
    }
  }

  &__message {
    font-family: "Minecraft Rus", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    color: var(--color-white-100, #FFF);

    @include adaptive-md {
      font-size: 14px;
    }

    @include adaptive-sm {
      font-size: 12px;
    }

    @include adaptive-xs {
      font-size: 10px;
    }
  }

  &Type {
    &_outgoing {
      .supportItem__line {
        background: var(--color-green, #9FDA71);
        background: var(--color-green, #9FDA71);
      }

      .supportItem__nickname {
        color: var(--color-green, #9FDA71);
      }
    }

    &_incoming {
      .supportItem__line {
        background: var(--color-blue, #5190FB);
      }

      .supportItem__nickname {
        color: var(--color-blue, #5190FB);
      }
    }
  }
}