@import "src/style/responsive";

.increaseMessage {
  white-space: nowrap;

  display: inline-block;

  font-family: "Minecraft Rus", sans-serif;
  font-size: 14px;

  animation: scaleMessage 1s infinite;

  cursor: pointer;
  user-select: none;

  color: #e6df45;

  @include adaptive-md {
    font-size: 14px;
  }

  @include adaptive-sm {
    font-size: 12px;
  }

  @include adaptive-xs {
    font-size: 10px;
  }
}

@keyframes scaleMessage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}