.miniProfile {
  width: 400px;

  position: relative;

  overflow: hidden;

  z-index: 10000;

  border: 2px solid rgba(36, 75, 139, 0.50);

  &__inner {
    width: 100%;
    height: 100%;

    position: relative;

    z-index: 10003;
  }

  &__user {
    padding: 30px;

    display: flex;
    align-items: center;
    gap: 25px;

    .miniProfileUser {
      &__avatar {
        width: 70px;
        height: 70px;
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      &__nickname {
        font-family: "Minecraft Rus", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 120%;

        color: var(--color-blue, #5190FB);
      }

      &__status {
        font-family: "Minecraft Rus", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 120%;

        color: var(--color-white-100, #FFF);
      }
    }
  }

  &__rank {
    padding: 30px;

    position: relative;

    display: flex;
    align-items: center;
    gap: 16px;

    background: var(--background-dakr-blue-75, rgba(2, 11, 25, 0.75));

    .miniProfileRank {
      &__icon {
        width: 43px;
        height: 60px;
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      &__name {
        font-family: "Minecraft Rus", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;

        color: var(--color-white-100, #FFF);
      }

      &__level {
        font-family: "Minecraft Rus", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;

        color: var(--color-white-60, rgba(255, 255, 255, 0.60));
      }

      &__user {
        width: 95px;
        height: 189px;

        position: absolute;
        right: 20px;
        bottom: 0;
      }
    }
  }

  &__activity {
    padding: 30px;

    display: flex;
    align-items: center;
    gap: 16px;

    background: rgba(2, 11, 25, .9);

    .miniProfileActivity {
      &__image {
        width: 50px;
        height: 50px;
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 4px;

        overflow: hidden;
      }

      &__title {
        display: flex;
        align-items: center;
        gap: 12px;

        font-family: "Minecraft Rus", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;

        overflow: hidden;

        color: var(--color-white-100, #FFF);

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__description {
        font-family: "Minecraft Rus", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 120%;

        color: var(--color-white-60, rgba(255, 255, 255, 0.60));
      }

      &__online {
        display: flex;
        align-items: center;
        gap: 6px;

        font-family: "Minecraft Rus", sans-serif;
        font-size: 12px;
        font-weight: 400;

        color: var(--color-white-100, #FFF);
      }
    }
  }

  &__background {
    &Mask,
    &Image {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
    }

    &Mask {
      z-index: 10002;

      opacity: .6;
      background: #0A101B;
    }

    &Image {
      z-index: 10001;

      filter: blur(40px);

      background: {
        position: center;
        size: 100%;
        repeat: no-repeat;
        image: url("@/assets/icons/avatar.png");
      };
    }
  }
}